.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: 1000;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .buttoncontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      padding: 15px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      font-size: 16px;

      &:hover {
        background-color: darken(#007bff, 10%);
      }
    }
  }
  p {
    display: flex;
    text-align: start;
    margin-top: 25px;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
