    input{
        width: 380px;
        position: relative;
        margin-top: 5px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        
        &:focus {
            outline: none;
            border-color: #007bff;
            
        }
    }

    .button{

        position: relative;

        .togglepassword{
            border:none;
            color: gray;
            position: absolute;
            background: transparent;
            bottom: 10px;
            right:5px;
            
        }
    }